<div class="bg-gray-50 dark:bg-gray-900 rounded-lg"
     id="purchase-details-container"
     data-controller="commerce--coupon"
     data-commerce--coupon-url-coupon-value="<%= params[:coupon] %>"
     data-commerce--coupon-context-value="purchaseDetails"
     data-commerce--coupon-coupon-applied-message-value="<%= t('commerce.checkout.coupon_applied_message') %>"
     data-commerce--coupon-invalid-coupon-message-value="<%= t('commerce.checkout.invalid_coupon_message') %>"
     data-commerce--coupon-error-checking-coupon-message-value="<%= t('commerce.checkout.error_checking_coupon_message') %>">

  <div class="py-5 px-7 rounded-t-lg bg-gray-200 dark:bg-gray-800">
    <p class="font-text font-semibold text-gray-500 dark:text-gray-400">
      <%= t('commerce.checkout.purchase_details.title', default: 'Purchase Details') %>
    </p>
  </div>

  <div class="py-2 px-7 space-y-4">
    <%= render "shared/components/data_list/data_list",
              divide_color: "divide-gray-200 dark:divide-gray-700" do %>
      <% data_list_item_flex = "space-y-2 lg:space-y-0 lg:flex lg:items-start lg:justify-between" %>
      <% data_list_text_width = "w-full lg:w-1/2" %>
      <%= render "shared/components/data_list/data_list_item",
                  container_flex: data_list_item_flex,
                  value_text_align: "lg:text-right",
                  label: t('commerce.checkout.purchase_details.product_label', default: 'Product'),
                  label_text_color: "text-gray-500 dark:text-gray-400",
                  label_width: data_list_text_width,
                  value: @product.name,
                  value_text_color: "text-gray-400 dark:text-gray-300",
                  value_width: data_list_text_width %>

       <% if @price.present? %>
        <% display_price_value = capture do %>
          <div class="text-gray-400 dark:text-gray-300 flex flex-col items-start space-y-1 lg:items-end"
               id="display-price">
            <% price_hash = display_price(@price, output_hash: true) %>
            <% currency_symbol = capture do %>
              <div class="currency-symbol">
                <%= price_hash[:symbol] %>
              </div>
            <% end %>
            <div class="flex">
              <% if price_hash[:symbol_position] == "before" %>
                <%= currency_symbol %>
              <% end %>
              <div class="price-amount">
                <%= price_hash[:amount] %>
              </div>
              <% if price_hash[:symbol_position] == "after" %>
                <%= currency_symbol %>
              <% end %>
              <div class="price-append-text">
                <%= price_hash[:append_content] %>
              </div>
            </div>
          </div>
        <% end %>
        <% coupon_detail = capture do %>
          <div class="hidden my-4 border border-emerald-300 dark:border-emerald-700 bg-emerald-50 dark:bg-emerald-900 text-emerald-500 dark:text-emerald-400 rounded-lg p-4"
               id="coupon-details">
            <div class="font-bold"
                 id="coupon-details-headline">
              <%= t('commerce.checkout.purchase_details.coupon_applied', default: 'Coupon applied!') %>
            </div>
            <div class="hidden mt-2 text-sm font-medium text-pretty"
                 id="coupon-details-description">
            </div>
          </div>
        <% end %>
        <%= render "shared/components/data_list/data_list_item",
                  container_flex: data_list_item_flex,
                  value_text_align: "lg:text-right",
                  label: t('commerce.checkout.purchase_details.price_label', default: 'Price'),
                  label_text_color: "text-gray-500 dark:text-gray-400",
                  label_width: data_list_text_width,
                  value: display_price_value,
                  value_text_color: "text-gray-400 dark:text-gray-300",
                  value_width: data_list_text_width,
                  append_content: coupon_detail %>
      <% end %>

      <% if @price.present? && @price.recurring? %>
        <%
          label = if @price.trial_days.present? && @price.trial_days > 0
                    t('commerce.checkout.purchase_details.trial_ends_label', default: 'Trial ends')
                  else
                    t('commerce.checkout.purchase_details.renews_label', default: 'Renews')
                  end

          date = if @price.trial_days.present? && @price.trial_days > 0
                   Time.current.advance(days: @price.trial_days).to_date.strftime("%B %-d, %Y")
                 else
                   if @price.recurring_interval == "day"
                     Time.current.advance(days: 1).to_date.strftime("%B %-d, %Y")
                   elsif @price.recurring_interval == "week"
                     Time.current.advance(weeks: 1).to_date.strftime("%B %-d, %Y")
                   elsif @price.recurring_interval == "month"
                     Time.current.advance(months: 1).to_date.strftime("%B %-d, %Y")
                   elsif @price.recurring_interval == "quarter"
                     Time.current.advance(months: 3).to_date.strftime("%B %-d, %Y")
                   elsif @price.recurring_interval == "year"
                     Time.current.advance(years: 1).to_date.strftime("%B %-d, %Y")
                   end
                 end
        %>

        <% renews_detail = capture do %>
          <%= t('commerce.checkout.purchase_details.renews_detail', default: 'Change plans or disable auto-renewal anytime.') %>
        <% end %>
        <%= render "shared/components/data_list/data_list_item",
                    container_flex: data_list_item_flex,
                    value_text_align: "lg:text-right",
                    label: label,
                    label_width: "w-full lg:w-1/3",
                    label_text_color: "text-gray-500 dark:text-gray-400",
                    value_container_classes: "space-y-2",
                    value: date,
                    value_description: renews_detail,
                    value_container_classes: "w-full lg:w-2/3",
                    value_text_color: "text-gray-400 dark:text-gray-300" %>
      <% end %>
    <% end %>
  </div>

</div>
