<%= form_with(model: @provider,
               url: @provider.new_record? ? providers_path : provider_path(@provider),
               local: true, 
               id: 'arrowlinemoving_dropzone') do |f| %>
   <%= render 'shared/components/forms/errors', model: @provider %>

  <div class="space-y-8">
    <%= render partial: 'name_fields', locals: {f: f }  %>
   <% unless @provider.new_record? %>
      <%= render partial: 'address_fields', locals: {f: f }  %>
      <%= render partial: 'documents_fields', locals: {f: f }  %>
      <%= render partial: 'license_information_fields', locals: {f: f }  %>
      <%= render partial: 'insurance_and_compliance_fields', locals: {f: f }  %>
      <%= render partial: 'service_and_quality_fields', locals: {f: f }  %>
      <%= render partial: 'review_fields', locals: {f: f } %>
      <%= render partial: 'workforce_fields', locals: {f: f } %>
      <%= render partial: 'communication_and_reliability_fields', locals: {f: f } %>
      <%= render partial: 'agreement_fields', locals: {f: f } %>
   <% end %>
   </div>
    <div>
      <%= f.submit 'Save', class: "btn btn-primary" %>
    </div>
<% end %>
