<%= content_for(:title) do %>
  <%= @provider.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Providers",
               link: providers_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @provider.name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "providers/provider_subnav",
             active: "edit_provider",
             provider: @provider %>
<% end %>

<div class="space-y-12">
  <%= render "shared/components/page_header",
              title: @provider.name %>

  <div>
     <% if @provider.pending_review? %>
      <%= render "shared/components/callout",
              headline_text: "Your application has been submitted",
              link_container: true,
              icon_name: "truck" do %>
              Your application has been submitted. Once approved, you will receive a text message and you can start serving customers. 
      <% end %>
    <% end %>
  </div>

</div>
