<%= content_for(:title) do %>
  New Provider
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Providers",
               link: providers_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link", text: 'Application' -%> 
  <% end %>
<% end %>

<%= content_for(:page_max_width, 'max-w-2xl') %>
<div class="space-y-12">
  <%= render "shared/components/page_header",
              title: 'Movings Services Provider Application' %>
  <%= render 'form', provider: @provider %>
</div>
