<%= content_for(:title) do %>
  <%= @provider.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Providers",
               link: providers_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @provider.name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <% if current_user.provider == @provider %>
     <%= render "providers/provider_subnav", active: "edit_provider", provider: @provider %>
  <% end %>
<% end %>

<div class="space-y-12">
  <%= render "shared/components/page_header", title: @provider.name %>
  <div>
    <%= render "shared/components/data_list/data_list", border_top_and_bottom: true do %>
    <% @provider.questionnaire_fields.each do |field|%>
      <%= render "shared/components/data_list/data_list_item", label: @provider.question_map[field], value: @provider.send(field) %>
    <% end %>
  <% end %>
  </div>
</div>
