<%= content_for(:title) do %>
  Edit <%= @invoice.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Invoices",
               link: invoices_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               link: invoice_path(@invoice),
               text: @invoice.name %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: t('scaffold.edit', default: 'Edit') %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "invoices/invoice_subnav",
             active: "edit_invoice",
             invoice: @invoice %>
<% end %>

<div class="space-y-12">

  <%= render "shared/components/page_header",
              title: t('scaffold.edit_title', resource: @resource_name, default: 'Edit %{resource}') %>

  <%= render 'form',
              invoice: @invoice %>
</div>
