<%= content_for(:title) do %>
  Edit <%= @bid.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Bids",
               link: rfp_bids_path(@rfp) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               link: rfp_bid_path(@rfp,@bid),
               text: @bid.name %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link", text: 'Modify bid' %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "bids/bid_subnav", active: "edit_bid", bid: @bid %>
  <%= render partial: '/rfps/map_box_map', locals: { rfp: @bid.rfp} -%>
  <%= render partial: '/users/contact_details', locals: { user: @bid.rfp.user } %>
<% end %>

<div class="space-y-12">
  <%= render "shared/components/page_header", title: 'Modify bid' %>
  <%= render 'form', bid: @bid %>
</div>

<div class="m-4">
  <%= render "shared/components/page_sub_header", title: 'Job Details' %>
  <%= render partial: 'rfps/show', locals: {rfp: @rfp}  -%>
</div>
