<%= content_for(:title) do %>
  Bids
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
      text: " #{@rfp.long_name} Bids" %>
  <% end %>
<% end %>

<div class="space-y-12">
  <% if @bids.any? %>

    <% if current_user.provider? %>

    <%= render "shared/components/page_header",
                title: "Bids",
                button_link_path: new_rfp_bid_path(@rfp) %>
    <% else %>
    <%= render "shared/components/page_header",
                title: "Bids",
                button_link_path: nil %>
    <% end %>

    <div class="space-y-6">
      <%= render "shared/components/listings/listings" do %>
        <% @bids.each do |bid| %>
          <%= render "bids/bid_listing", bid: bid %>
        <% end %>
      <% end %>

      <% if @pagy.pages > 1 %>
        <div class="pagy-container">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>

  <% else %>
    <% if current_user.provider? %>
      <%= render "shared/components/listings/no_listings",
                singular_object_name: "bid",
                plural_object_name: "bids",
                new_path: new_rfp_bid_path(@rfp) %>
     <% end %>
  <% end %>

</div>
