<%= content_for(:title) do %>
  <%= @bid.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Bids",
               link: rfp_bids_path(@rfp) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @bid.name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %> 
  <% if current_user.provider? %>
    <%= render "bids/bid_subnav", active: "edit_rfp_bid", bid: @bid %>
    <%= render partial: '/rfps/map_box_map', locals: { rfp: @bid.rfp} -%>
    <%= render partial: '/users/contact_details', locals: { user: @bid.rfp.user } %>
  <% end %>
<% end %>

<div class="space-y-12">
  <% if @bid.new? %>
     <%= render "shared/components/callout",
        headline_text: "Bid details",
        link_container: true,
        icon_name: "truck" do %>
        <p>Amount: <%= number_to_currency(@bid.amount) -%></p>   
        <p>Provider: <%= @bid.user.provider.name -%></p>   
        <p>Created: <%= @bid.created_at.strftime("%B %-d, %Y at %l:%M%P") -%> (<%= time_ago_in_words(@bid.created_at) -%> ago)</p>   
        <%= button_to 'Reject', rfp_bid_reject_path(@rfp, @bid), 
          method: :put, 
          class: 'btn btn-secondary float-left m-4',
          data: {
            turbo_method: :put,
            turbo_confirm: 'Are you sure that you would like to reject this bid?'
          }
        %>  
    <% end %>
  <% end %>

  <% if @bid.rejected? %>
     <%= render "shared/components/callout",
        headline_text: "Bid details",
        link_container: true,
        icon_name: "truck" do %>
        <p>Amount: <%= number_to_currency(@bid.amount) -%></p>   
        <p>Provider: <%= @bid.user.provider.name -%></p>   
        <p>Created: <%= @bid.created_at.strftime("%B %-d, %Y at %l:%M%P") -%> (<%= time_ago_in_words(@bid.created_at) -%> ago)</p>   
        <p>If you've changed your mind, you are still able to accept this bid.</p>
        <p>
        <%= button_to 'Accept this bid', rfp_bid_accept_path(@rfp, @bid), 
          method: :put, 
          class: 'btn btn-secondary float-left m-4',
          data: {
            turbo_method: :put,
            turbo_confirm: 'Are you sure that you would like to reject this bid?'
          }
        %>  
       </p>
    <% end %>
  <% end %>

  <% if @bid.pending? %>
     <%= render "shared/components/callout",
        headline_text: "This bid pending",
        link_container: true,
        icon_name: "truck" do %>
        <p>This bid  is pending.</p>   
    <% end %>
  <% end %>

  <% if @bid.accepted? %>
     <%= render "shared/components/callout",
        headline_text: "This bid has been accepted",
        link_container: true,
        icon_name: "truck" do %>
        <p>This bid has been accepted by you. We are waiting for the provider, <%= @bid.user.provider.name -%> to confirm acceptance of this work.  Once this bid has been confirmed, you will notified and contact information will be shared.
    </p>   
    <% end %>
  <% end %>

  <% if @bid.confirmed? %>
     <%= render "shared/components/callout",
        headline_text: "Congratulations",
        link_container: true,
        icon_name: "truck" do %>
        <p>Congratulations! This bid has been confirmed.</p>
        <p><%= @bid.user.provider.name -%> has confirmed acceptance of your job.</p>
        <p>You're contact informaiton has been shared with <%= @bid.user.provider.name -%>. They may contact you directly by phone or email to make final logistical arrangements for your move.</p>
        <p>You have already paid a deposit of <%= number_to_currency(@bid.deposit_amount_in_dollars) -%></p>
        <p>The balance remaining for this work is <%= number_to_currency(@bid.amount_less_deposit) -%></p>
        <p>
        It's typical that a moving services provider will ask for a portion of remaining balance at the beginning of the job. And the remainder of the balance after the work has been completed. The exact terms will have to be negotiated between you and 
        <%= @bid.user.provider.name -%> </p>
        <p>Thank you for using Arrowline Moving.</p>
    <% end %>
  <% end %>
</div>

<div class="m-4">
  <% if true %>
  <%= render "shared/components/callout",
    headline_text: "Job Details",
    link_container: true,
    icon_name: "truck" do %>
  <%= render partial: 'rfps/show', locals: {rfp: @bid.rfp}  -%>
 <% end %>

 <% end %>
</div>
