<%= content_for(:title) do %>
  <%= t('authentication.users.manage_password_title', default: 'Manage Password') %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
                text: t('authentication.users.breadcrumbs.my_profile', default: 'My Profile'),
                link: edit_user_profile_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
                text: t('authentication.users.breadcrumbs.change_password', default: 'Change Password') %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "users/user_profile_subnav",
            active: "manage_password" %>
<% end %>

<%= form_for @user, url: update_password_path, method: :patch do |f| %>
  <%= render 'shared/components/forms/errors', model: @user %>

  <div class="space-y-8">

    <%= render "shared/components/forms/field",
                form: f,
                label: t('authentication.users.form.current_password_label', default: 'Current password'),
                name: :current_password do %>
      <%= f.password_field :current_password,
                          placeholder: t('authentication.users.form.current_password_placeholder', default: 'Current password'),
                          class: form_control_classes,
                          autofocus: true %>
    <% end %>

    <%= render "shared/components/forms/field",
                form: f,
                label: t('authentication.users.form.new_password_label', default: 'New password'),
                name: :password do %>
      <%= f.password_field :password,
                          placeholder: t('authentication.users.form.new_password_placeholder', default: 'New password'),
                          class: form_control_classes %>
    <% end %>

    <%= render "shared/components/forms/field",
                form: f,
                label: t('authentication.users.form.confirm_password_label', default: 'Confirm new password'),
                name: :password_confirmation do %>
      <%= f.password_field :password_confirmation,
                          placeholder: t('authentication.users.form.confirm_password_placeholder', default: 'Confirm new password'),
                          class: form_control_classes %>
    <% end %>

  </div>

  <div class="mt-12">
    <%= f.submit t('authentication.users.form.change_password_button', default: 'Change Password'), class: "btn btn-primary" %>
  </div>
<% end %>
