<%= form_with(model: @bid,
               url: @bid.new_record? ? rfp_bids_path(@rfp) : rfp_bid_path(@rfp,@bid),
               local: true) do |f| %>
  <%= render 'shared/components/forms/errors', model: @bid %>

  <div class="space-y-8">
      <%= f.hidden_field :name -%>
      <%= render "shared/components/forms/field",
                  form: f,
                  label: "Amount",
                  name: :amount do %>

        <%= f.number_field :amount,
                placeholder: "Amount",
                class: form_control_classes %>
      <% end %>
    
      <%= render "shared/components/forms/field",
                  form: f,
                  label: "Note to customer (All communications are monitored by staff)",
                  name: :note do %>

        <%= f.text_area :note , placeholder: "Note to customer", class: form_control_classes %>
      <% end %>


      <%= render "shared/components/callout", container_padding: "p-2 sm:p-3 lg:p-4 2xl:p-5" do %>
        <%= render "shared/components/forms/field",
                    form: f,
                    label: "I will abide by all Terms and Services", 
                    name: :agree_to_platform_terms do %>
          <%= f.checkbox :agree_to_platform_terms %>
          <% end %>
      <% end %>
    <div>
      <%= f.submit 'Submit your bid', class: "btn btn-primary" %>
    </div>

  </div>
<% end %>
