<%= content_for(:title) do %>
  Submit a bid for help request: <%= @rfp.load_address -%>  
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Bids",
               link: rfp_bids_path(@rfp) %>
    <%= render "shared/components/breadcrumbs/divider" %>

    <%= render "shared/components/breadcrumbs/breadcrumb_link", text: "Submit your bid" %>
  <% end %>
<% end %>

<%= content_for(:page_max_width, 'max-w-2xl') %>

<div class="space-y-12">
  <%= render "shared/components/page_header", title: "#{@rfp.long_name}" -%>
  <%= render 'form', bid: @bid %>
  <%= render partial: 'rfps/show', locals: { rfp: @rfp } -%>
</div>
