<%= content_for(:title) do %>
  <%= @bid.name %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Bids",
               link: provider_bid_path(@bid) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @bid.name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %> 
    <%= render "bids/bid_subnav", active: "edit_rfp_bid", bid: @bid %>
    <%= render partial: '/rfps/map_box_map', locals: { rfp: @bid.rfp} -%>
<% end %>

<div class="space-y-12">
  <%= render partial: 'bid_status_callouts', locals: {bid: @bid } %>
</div>

<div class="m-4">
  <%= render "shared/components/callout",
    headline_text: "Job Details",
    link_container: true,
    icon_name: "truck" do %>
  <%= render partial: 'rfps/show', locals: {rfp: @bid.rfp}  -%>
 <% end %>
</div>
