<%= form_with(model: @customer,
               url: @customer.new_record? ? customers_path : customer_path(@customer),
               local: true) do |f| %>
  <%= render 'shared/components/forms/errors', model: @customer %>

  <div class="space-y-8">

    <% if @customer.customer_type == 'Customer' %>
    <%= render "shared/components/forms/field",
                 form: f,
                 label: "What type of job to you need to have done?",
                 name: :customer_type do %>
         <%= f.select :customer_type, customer_type_options,  class: form_control_classes, autofocus: true %>
    <% end %>
  <%  else %>
    <%= render "shared/components/forms/field",
                 form: f,
                 label: "What type of services do you provide?",
                 name: :customer_type do %>
         <%= f.select :customer_type, provider_type_options,  class: form_control_classes, autofocus: true %>
    <% end %>
   <% end %>
    
    <div>
      <%= f.submit "Let's go!",  class: "btn btn-primary" %>
    </div>

  </div>
<% end %>
