<%= content_for(:title) do %>
  <%= t('admin.common.admin', default: 'Admin') %> | <%= t('admin.benefits.title', default: 'Benefits') %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
                text: t('admin.common.admin', default: 'Admin'),
                link: admin_dashboard_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
                text: t('admin.benefits.title', default: 'Benefits') %>
  <% end %>
<% end %>

<div class="space-y-12">

  <% if @benefits.any? %>
    <%= render "shared/components/page_header",
                title: t('admin.benefits.title', default: 'Benefits'),
                button_link_path: admin_new_benefit_path,
                button_link_icon: "circle-plus" %>

    <div class="space-y-6">

      <%= render "shared/components/listings/listings" do %>
        <% @benefits.each do |benefit| %>
          <%= render "admin/commerce/benefits/benefit_listing",
                      benefit: benefit %>
        <% end %>
      <% end %>

      <% if @pagy.pages > 1 %>
        <div class="pagy-container">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>

    </div>

  <% else %>
    <%= render "shared/components/listings/no_listings",
                singular_object_name: t('admin.benefits.no_listings.singular', default: 'benefit'),
                plural_object_name: t('admin.benefits.no_listings.plural', default: 'benefits'),
                new_path: admin_new_benefit_path,
                description: t('admin.benefits.no_listings.description', default: 'Benefits are the checkmark items shown on each plan.  Benefits can be shared across several plans.') %>
  <% end %>

</div>
