<%= render "shared/components/listings/listing",
           listing_link: rfp_path(rfp),
           title: rfp.long_name,
           description: t('scaffold.created_ago', 
                          time: time_ago_in_words(rfp.created_at), 
                          default: 'Created %{time} ago') do %>
  <p><%= rfp.distance -%> miles form <%= rfp.load_address -%></p> 
  <% if current_user.customer? %>
    <p><%= render "shared/components/label", text: "#{rfp.status}", icon_name: "tag" %></p>
  <% end %>

  <p><%= render "shared/components/label",
    text: "#{rfp.type_name}",
    icon_name: icon_for_job_type(type: rfp.type) %></p>
  <p><%= link_to pluralize(rfp.bids.count, "bids"), rfp_bids_path(rfp) -%></p>
  <% if current_user.provider? %>
    <p>
      <% provider_bid = current_user.provider.bid_on(rfp) %>

      <% if provider_bid.present? %>
         <% if current_user.provider? %>

           <%= link_to provider_bid_path(provider_bid) do -%>
             <%= render "shared/components/label", 
              text: "view your bid", 
              icon_name: nil, 
              bg_color: "bg-green-50 dark:bg-green-950" -%>
          <% end %>

        <% end %>
       <% else %>

        <%= link_to new_rfp_bid_path(rfp) do  -%>
          <%= render "shared/components/label", 
            text: "submit a bid", 
            text_color: 'white',
            bg_color: "bg-green-50 dark:bg-green-950" -%>
        <% end %>

      <% end %>
    </p>
  <% end %>
  <%= render "rfp_settings", rfp: rfp %>
<% end %>
