<%= content_for(:title) do %>
  Edit
  <%= @rfp.load_address %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
    text: "Job Requests",
    link: rfps_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
    link: edit_rfp_path(@rfp),
    text: "Edit job request" %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "rfps/rfp_subnav", active: "edit_rfp", rfp: @rfp %>
<% end %>

<div class="space-y-12">
  <%= render "shared/components/page_header", title: "Edit job request" -%>
  <%= render partial: "publishing_status", locals: { rfp: @rfp } -%>
  <% if true or @rfp.is_new? %>
    <% if @rfp.is_a?(MovingRequest) %>
      <%= render "moving_form", rfp: @rfp %>
    <% else %>
      <%= render "hauling_form", rfp: @rfp %>
    <% end %>
  <% end %>
</div>

<%= render partial: '/shared/attached_photos', locals: { attachable: @rfp} -%>
