<%= content_for(:title) do %>
  My requests
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link", text: "My job requests" %>
  <% end %>
<% end %>

<div class="space-y-12">
  <% if @rfps.any? %>
    <div class="space-y-6">
      <%= render "shared/components/listings/listings" do %>
        <% @rfps.each do |rfp| %>
          <%= render "rfps/rfp_listing", rfp: rfp %>
        <% end %>
      <% end %>
      <% if @pagy.pages > 1 %>
        <div class="pagy-container">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>
  <% else %>

 <%= render "shared/components/callout",
    headline_text: "Let's get started",
    link_container: true,
    link_path: new_rfp_path(type: 'MovingRequest'), 
    icon_name: nil do %>
    To get started, you'll need to create a request. A request is the essential details of your upcoming move.
  <% end %>
  <% end %>
</div>
