<%= content_for(:title) do %>
  New Help Request
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Job Requests",
               link: rfps_path %>
    <%= render "shared/components/breadcrumbs/divider" %>

    <%= render "shared/components/breadcrumbs/breadcrumb_link", text: "Details" %>
  <% end %>
<% end %>

<%= content_for(:page_max_width, 'max-w-2xl') %>

<div class="space-y-12">
  <%= render "shared/components/page_header", title: "#{@rfp.class.to_s == 'MovingRequest' ? 'Moving' : 'Hauling'} job details"  %>
    <% if @rfp.is_a?(MovingRequest) %>
     <%= render 'moving_form', rfp: @rfp %>
    <% else %>
     <%= render 'hauling_form', rfp: @rfp %>
    <% end %>
</div>
