<%= content_for(:title) do %>
  <%= @rfp.load_address %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Request",
               link: rfps_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @rfp.long_name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "rfps/rfp_subnav", active: "edit_rfp", rfp: @rfp %>
<% end %>
   <%= render "shared/components/page_header", title: "#{@rfp.long_name}" -%>
   <%= render partial: 'show', locals: { rfp: @rfp } -%>
  </div>
</div>
