<%= content_for(:title) do %>
  <%= @rfp.load_address %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: "Request",
               link: rfps_path %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @rfp.long_name %>
  <% end %>
<% end %>

<% content_for(:side_col) do %>
  <%= render "rfps/rfp_subnav", active: "edit_rfp", rfp: @rfp %>
  <%= render partial: 'map_box_map', locals: { rfp: @rfp } -%>
  <%= render partial: '/users/contact_details', locals: { user: @rfp.user } %>
  <% if current_user.provider? && current_user.provider.has_bid_on?(@rfp)%>
    <p> You have bid on this job.</p>
    <%= link_to rfp_bid_path(@rfp, current_user.provider.bid_on(@rfp)) do -%>
        <%= render "shared/components/label", text: 'view my bid', icon_name: 'file' -%>
    <% end %>
  <% end %>
<% end %>
   <%= render "shared/components/page_header", title: "#{@rfp.long_name}" -%>
   <%= render partial: 'show', locals: { rfp: @rfp } -%>
  </div>
</div>
