<%= content_for(:title) do %>
  <%= t('commerce.subscriptions.cancel.title', product: @subscription.product.name, default: 'Cancel subscription for %{product}') %>
<% end %>

<%= content_for(:breadcrumbs) do %>
  <%= render "shared/components/breadcrumbs/breadcrumbs" do %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: @account.name,
               link: account_settings_path(@account.slug) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: t('commerce.subscriptions.breadcrumbs.settings', default: 'Settings'),
               link: account_settings_path(@account.slug) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: t('commerce.subscriptions.breadcrumbs.subscription', product: @subscription.product.name, default: 'Subscription for %{product}'),
               link: subscription_path(@account.slug, @subscription) %>
    <%= render "shared/components/breadcrumbs/divider" %>
    <%= render "shared/components/breadcrumbs/breadcrumb_link",
               text: t('commerce.subscriptions.breadcrumbs.cancel', default: 'Cancel') %>
  <% end %>
<% end %>


<%= content_for(:side_col) do %>
  <%= render "commerce/billing/billing_subnav" %>
<%end %>

<div class="space-y-12">
  <%= render "shared/components/page_header",
              title: t('commerce.subscriptions.cancel.title', product: @subscription.product.name, default: 'Cancel subscription for %{product}') %>

  <div>
    <%= form_with(model: [:commerce, @account, @subscription], url: process_cancellation_path(@account.slug, @subscription), method: :post, class: "space-y-6") do |f| %>

      <%= render "shared/components/forms/field",
                  form: f,
                  label: t('commerce.subscriptions.cancel.reason_label', default: 'Cancellation reason'),
                  name: :cancellation_reason do %>
        <%= f.text_area :cancellation_reason,
                        placeholder: t('commerce.subscriptions.cancel.reason_placeholder', default: "It wasn't a good fit because..."),
                        class: form_control_classes,
                        rows: 4,
                        autofocus: true %>
      <% end %>

      <div class="flex items-center space-x-8">
        <%= f.submit t('commerce.subscriptions.cancel.submit', default: 'Cancel subscription'),
                     class: "btn btn-primary",
                     data: { confirm: t('commerce.subscriptions.cancel.confirm', default: 'Are you sure you want to cancel this subscription?') } %>

        <%= link_to t('commerce.subscriptions.cancel.nevermind', default: 'Nevermind'),
                    subscription_path(@account.slug, @subscription),
                    class: "font-medium" %>
      </div>
    <% end %>
  </div>

</div>
